
.content{
    margin-top : 100px;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    float: left;
    width : 340px;
    height : 100%;
    border: solid 2px black;
}

.login{
    height : 30%;
    border : 2px solid black;
    width: 250px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.signup{
    height : 70%;
    margin-left: 10px;
    border : 2px solid black;
    width: 250px;
}
