body{
    background-color: #321064;

}

#saveform{
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 400px;
}

#img{
    filter :blur(10px);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top : 0px;
    left: 0px;
    z-index: -1;
}