/*BEFORE SIGNING IN*/

.content{
    margin-top : 100px;
    margin-left: auto;
    margin-right: auto;
}

.row{
  width: 90%;
}

.logo{
    float: none;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 20px;
    image-repeat: no-repeat;
    border: solid 2px black;
}

.login{
    background-color: white;
    margin-bottom: 20px;
    border : 2px solid black;
}

.signup{
    background-color: white;
    border : 2px solid black;
}

#feedBack{
    background-color: white;
    border : solid black 2px;
    margin-top: 5%;
    height: 5%;
    color: black;
    text-align: center;
}

body{
    background-color: #babfc6;
    font-size: 20px;
    font-family: "Trebuchet MS";
    text-align: center;
}

.tab {
    width: 90%;
    margin: -10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: "Trebuchet MS";
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    background-color: white;
    width: 75%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    padding: 6px 12px;
    border: 2px solid #ccc;
}

.tabs .indicator {
    background-color: #64b5f6 !important;
}

#feedbackProfile{
    background-color: white;
    border : solid black 2px;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    color: red;
}

.message{
    width: 100%;
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
}

/*HOME TAB*/

.Home{
  height: 90%;
}
.Browse{
  height: 90%;
}
.Account{
  height: 90%;
  width: 70%;
}

/*Actual post text*/
#messageText{
    margin-right: auto;
    margin-bottom: 10px;
}

/*BROSE TAB*/

/*Search area*/
#search{
    list-style-type: none;
    padding: 0;
}

textarea.materialize-textarea {
  overflow-y: hidden;
  /* prevents scroll bar flash */
  padding: 0rem 0 0rem 0;
  /* prevents text jump on Enter keypress */
  resize: none;
  min-height: 3rem;
}

/*ACCOUNT TAB*/

/*Change Password area*/
#changePassword{
    margin-bottom: 10px;
    padding: 0;
}

.customBG{
    font-size: 20px !important;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
