/*BEFORE SIGNING IN*/

.content{
    margin-top : 100px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    float: none;
    /*background-image: url("logo.png");*/
    background-color: white;
    margin-bottom: 5%;
    image-repeat: no-repeat;
    border: solid 2px black;
}

.login{
    background-color: white;
    margin-bottom: 5px;
    border : 2px solid black;
}

.signup{
    background-color: white;
    border : 2px solid black;
}

h2{
    text-align: center;
    font-family: "Trebuchet MS";
    font-size: 3.0vh;
}

h3{
    text-align: center;
    font-family: "Trebuchet MS";

}

body{
    background-color: #babfc6;
    overflow-x: hidden;
}

#feedBack{
    background-color: white;
    border : solid black 2px;
    margin-top: 5%;
    height: 5%;
    color: black;
    text-align: center;
}

/* PROFILE VIEW */

.tab {
    width: 105%;
    margin: -10px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: "Trebuchet MS";
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    font-family: "Trebuchet MS";
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    font-family: "Trebuchet MS";
}

/* Style the tab content */
.tabcontent {
    background-color: white;
    width: 75%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    padding: 6px 12px;
    border: 2px solid #ccc;
}

#feedbackProfile{
    background-color: white;
    border : solid black 2px;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    color: red;
    text-align: center;
    font-family: "Trebuchet MS";
}

.message{
    width: 50%;
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
    font-family: "Trebuchet MS";
}



/*HOME TAB*/

/*User's data*/
ul{
    font-size: 20px;
    font-family: "Trebuchet MS";
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding: 0;
}

/*Post function*/
#post{
    font-size: 20px;
    font-family: "Trebuchet MS";
    list-style-type: none;
    padding: 0;
}

/*Post area*/
#postMessage{
    width: 100%;
    margin-left: -30px;
    margin-right: auto;
    font-family: "Trebuchet MS";
}

/*Post button*/
#postMessage > .innerBTN{
    margin-left: 700px;
    margin-right: auto;
    width: 98px;
    font-family: "Trebuchet MS";
    text-align: center;
}

/*Post text area*/
#postMessage > .inner{
    margin-left: auto;
    margin-right: auto;
    width: 322px;
    margin-bottom: 10px;
    font-family: "Trebuchet MS";
}

/*Actual post text*/
#messageText{
    width: 150%;
    margin-left: -40px;
    margin-right: auto;
    margin-bottom: 10px;
    font-family: "Trebuchet MS";
}

/*Reload button*/
#reload{
    font-size: 20px;
    font-family: "Trebuchet MS";
    list-style-type: none;
    padding: 0;
}

/*Wall messages*/
#wall{
    font-size: 20px;
    font-family: "Trebuchet MS";
    list-style-type: none;
    width: 196.5%;
    padding: 0;
}

/*BROSE TAB*/

/*Search area*/
#search{
    font-size: 20px;
    margin-left: -70px;
    margin-right: auto;
    font-family: "Trebuchet MS";
    list-style-type: none;
    padding: 0;
    text-align: center;
}

/*Search textarea*/
#emailSearch{
    font-size: 20px;
    font-family: "Trebuchet MS";
    list-style-type: none;
    margin-bottom: 10px;
    width: 20%;
    padding: 0;
}

/*Search button*/
#searchBtn{
    margin-left: 70px;
    margin-right: auto;
    width: 98px;
    font-family: "Trebuchet MS";
    text-align: center;
    margin-bottom: 50px;
}

/*Post message to another user section*/
#postMessageOther{
    width: 98px;
    margin-left: 380px;
    margin-right: auto;
    text-align: center;
    width: 322px;
    margin-bottom: 10px;
    font-family: "Trebuchet MS";
}

/*Text of the post*/
#messageTextOther{
    width: 150%;
    margin-left: 170px;
    margin-right: auto;
    margin-bottom: 10px;
    font-family: "Trebuchet MS";
}

/*Post button*/
#postOther{
    margin-left: 250px;
    margin-right: auto;
    text-align: center;
    width: 322px;
    margin-bottom: 10px;
    font-family: "Trebuchet MS";
}

/*Reload another wall*/
#reloadOther{
    font-size: 20px;
    font-family: "Trebuchet MS";
    list-style-type: none;
    padding: 0;
}

/*Other person's wall*/
#otherWall{
    font-size: 20px;
    font-family: "Trebuchet MS";
    list-style-type: none;
    width: 196.5%;
    padding: 0;
}

/*ACCOUNT TAB*/

/*Change Password area*/
#changePassword{
    margin-left: auto;
    margin-right: auto;
    font-size: auto;
    font-family: "Trebuchet MS";
    list-style-type: none;
    text-align: center;
    margin-bottom: 10px;
    width: 60%;
    padding: 0;
}

/*Change password button*/
#change{
    margin-left: auto;
    margin-right: auto;
    width: 98px;
    margin-top: 10px;
    font-family: "Trebuchet MS";
    text-align: center;
    margin-bottom: 50px;
}

/*Sign out area*/
#signout{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*Sign out button*/
#signoutBTN{
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
    width: 150px;
    height: 75px;
    font-family: "Trebuchet MS";
    text-align: center;
    margin-bottom: 50px;
}
