
.content{
    margin-top : 100px;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    background-image: url("wimage.png");
    background-color: white;
    float: left;
    width : 340px;
    height : 100%;
    border: solid 2px black;
}

.login{
    background-color: white;
    margin-left: 350px;
    height : 140px;
    border : 2px solid black;
    width: 250px;
    margin-bottom: 5px;
}

.signup{
    background-color: white;
    margin-left: 350px;
    height : 250px;
    border : 2px solid black;
    width: 250px;
}

h2{
    text-align: center;
}

body{
    background-color: #5566c6;
}

#feedBack{
    background-color: white;
    border : solid black 2px;
    margin-top: 5px;
    width: 600px;
    height: 50px;
    color: red;
    text-align: center;
}



/* PROFILE VIEW */

.tab {
    width: 51.5%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#feedbackProfile{
    background-color: white;
    border : solid black 2px;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    color: red;
    text-align: center;
}

.message{
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
}